* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
  width: 100vw;
}

#under_main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

#tags {
  width: 100vw;
  display: block;
  flex-shrink: 0;
  min-width: 750px;
}
#title {
  width: 100vw;
  font-size: 20px;
  display: flex;
  margin: 15px 0;
  min-width: 750px;
}

#ico_name {
  display: flex;
  flex-flow: column;
  width: 15vw;
  margin-left: 20px;
  margin-top: 8px;
  min-width: 190px;
}

#ch_name {
  font-size: 16px;
  font-weight: 500;
}

#ch_name:hover,
#ch_ico:hover {
  cursor: pointer;
}

#ch_subs {
  margin-top: 2px;
  color: #aaaaaa;
  font-size: 12px;
}

#description {
  background-color: #272727;
  padding: 10px 5px;
  border-radius: 15px;
  margin: 0 20px;
  min-width: 750px;
  width: 100vw;
}

#description:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.spacer {
  height: 1px;
  width: 100vw;
  background-color: #3f3f3f;
  border-radius: 1px;
  margin: 10px 20px;
  min-width: 750px;
}

.ico {
  border-radius: 25px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-left: 20px;
}

#subscribe {
  margin: 5px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  background-color: #272727;
  border-radius: 25px;
  height: 34px;
}

#like_dislike {
  margin: 5px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  /* background-color: #272727; */
  border-radius: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  font-size: 16px;
}

#dislike,
#like {
  display: flex;
  align-items: center;
  background-color: #272727;
  padding: 5px 10px;
  /* margin: 0 5px; */
}

#like {
  border-radius: 25px 0 0 25px;
}

#like:hover {
  border-radius: 25px 0 0 25px;
}

#like:hover,
#dislike:hover,
#share:hover,
#dots:hover,
#subscribe:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

#dislike {
  border-radius: 0 25px 25px 0;
}

#dislike:hover {
  border-radius: 0 25px 25px 0;
}

#dislike_num,
#like_num {
  margin-left: 10px;
}

.spacer_vert {
  width: 1px;
  height: 60%;
  background-color: #3f3f3f;
  border-radius: 1px;
  padding: 0;
  /* margin: 10px 20px; */
  position: absolute;
  left: 102.21px;
}

#share {
  margin: 5px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  background-color: #272727;
  border-radius: 25px;
  height: 34px;
}

#dots {
  margin: 5px;
  display: flex;
  padding: 5px 5px;
  align-content: center;
  background-color: #272727;
  border-radius: 100%;
  width: 34px;
  height: 34px;
}

#under {
  min-height: 48px;
  display: flex;
  width: 100vw;
  min-width: 750px;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 3px 9px;
  grid-auto-flow: row;
  grid-template-areas: "channel none actions"; */
}

#channel {
  display: flex;
  /* grid-area: channel; */
  min-width: 387.16px;
  align-items: center;
}

#actions {
  display: flex;
  min-width: 354px;
  /* grid-area: actions; */
  align-items: center;
}

#under_comment {
  display: flex;
  width: 100vw;
  height: 28px;

  margin-top: 15px;
  min-width: 750px;
}

#comments,
#sort {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#comments {
  /* margin-left: 20px; */
}

#sort {
  width: 140px;
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}

#more {
  display: none;
}

#span_dots {
  display: inline;
}

#show_more {
  display: inline;
}
#show_less {
  display: none;
}
