* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

#actions,
#add_comment,
#comments,
#container,
#channel,
#dislike,
#dots,
#ico_name,
#like,
#like_dislike,
#share,
#sort,
#subscribe,
#title,
#under,
#under_comment,
#under_main {
  display: flex;
}

#actions,
#channel,
#comments,
#container,
#dislike,
#like,
#like_dislike,
#sort,
#share,
#subscribe {
  align-items: center;
}

#add_comment,
body,
#description,
.spacer,
#title,
#under,
#under_main,
#under_comment {
  width: 100vw;
}

#description,
#dislike,
#dots,
#share,
#subscribe,
#like {
  background-color: #272727;
}

#ch_ico,
#like_dislike,
#tags {
  flex-shrink: 0;
}

#like:hover,
#dislike:hover,
#description:hover,
#share:hover,
#dots:hover,
#subscribe:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

#container {
  justify-content: center;
  flex-direction: column;
}

/*START SCROLLBAR*/
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #717171;
}
/*STOP SCROLLBAR*/

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

#under_main {
  flex-wrap: wrap;
  /* display: block; */
  max-width: 892.88px;
}

#add_comment,
#under_comment {
  max-width: 892.88px;
}

#user_ico {
  min-width: 48px;
}

#tags {
  width: 100%;
  display: block;
  min-width: 750px;
  color: blue;
  text-decoration: underline;
}

#title {
  font-size: 20px;
  margin: 15px 0;
  min-width: 750px;
}

#ico_name {
  flex-flow: column;
  width: 15vw;
  margin-left: 20px;
  margin-top: 8px;
  min-width: 190px;
}

#ch_name {
  font-size: 16px;
  font-weight: 500;
}

#ch_name:hover,
#ch_ico:hover {
  cursor: pointer;
}

#ch_subs {
  margin-top: 2px;
  color: #aaaaaa;
  font-size: 12px;
}

#description {
  padding: 10px 5px;
  border-radius: 15px;
  margin: 0 20px;
  min-width: 750px;
}

.spacer {
  height: 1px;
  background-color: #3f3f3f;
  border-radius: 1px;
  margin: 10px 20px;
  min-width: 750px;
}

.ico {
  border-radius: 25px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-left: 20px;
}

#subscribe {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 25px;
  height: 34px;
}

#like_dislike {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 25px;
  flex-grow: 0;
  position: relative;
  font-size: 16px;
}

#dislike,
#like {
  padding: 5px 10px;
  /* margin: 0 5px; */
}

#like {
  border-radius: 25px 0 0 25px;
}

#like:hover {
  border-radius: 25px 0 0 25px;
}

#dislike {
  border-radius: 0 25px 25px 0;
}

#dislike:hover {
  border-radius: 0 25px 25px 0;
}

#dislike_num,
#like_num {
  margin-left: 10px;
}

.spacer_vert {
  width: 1px;
  height: 60%;
  background-color: #3f3f3f;
  border-radius: 1px;
  padding: 0;
  /* margin: 10px 20px; */
  position: absolute;
  left: 102.21px;
}

#share {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 25px;
  height: 34px;
}

#dots {
  margin: 5px;
  padding: 5px 5px;
  align-content: center;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin-right: 25px;
}

#under {
  min-height: 48px;
  min-width: 750px;
  justify-content: space-between;
}

#channel {
  width: 387.16px;
}

#actions {
  min-width: 354px;
}

#comments,
#sort,
#comment {
  flex-wrap: nowrap;
  margin-left: 20px;
  min-width: 140px;
  max-width: 892.88px;
}

/* START Pokaż więcej JS */
#more {
  display: none;
}
#span_dots {
  display: inline;
}
#show_more {
  display: inline;
}
#show_less {
  display: none;
}
/* KONIEC Pokaż więcej JS */
